name: Build and Test World Database App
on: push

jobs:
  build:
    name: Build and Test Application
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build with Maven
        run: mvn -B package --file pom.xml

      - name: Set up Docker Compose
        run: docker compose version

      - name: Run application with World database
        run: docker compose up --abort-on-container-exit

      - name: Unit Tests
        run: mvn -Dtest=com.napier.sem2.CountryTests test
      - name: Package and Run docker compose
        run: |
          mvn package -DskipTests
          docker compose up --abort-on-container-exit