name: CI Workflow for SEM2 Project

on: push

jobs:
  unit-tests:
    name: Unit Tests
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Run Unit Tests
        run: mvn -B test

      - name: Upload Test Reports (if failed)
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: surefire-reports
          path: target/surefire-reports


  integration-tests:
    name: Integration Tests (Docker Compose)
    runs-on: ubuntu-22.04
    needs: unit-tests
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build project
        run: mvn -B package -DskipTests

      - name: Start environment with Docker Compose
        run: docker compose up -d --build

      - name: Wait for database to be ready
        run: |
          echo "Waiting for database to start..."
          sleep 40

      - name: Run Integration Tests
        run: mvn -B test -Dtest=*IntegrationTests

      - name: Upload Integration Test Reports (if failed)
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: integration-surefire-reports
          path: target/surefire-reports


      - name: Stop Docker Compose
        if: always()
        run: docker compose down

      - name: Upload CodeCov report
        uses: codecov/codecov-action@v2
        with:
          directory: ./target/site/jacoco
          flags: IntegrationTests
          verbose: true

  build:
    name: Build & Verify App
    runs-on: ubuntu-22.04
    needs: [unit-tests, integration-tests]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Package and Build Docker Compose
        run: |
          mvn -B package -DskipTests
          docker compose up --abort-on-container-exit
